html,body{height:100%;}
.body_bg {
  background-color: #222D32;
  height:100%;
  width:100%;

}
/*重置*/
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.login-title {

  font-size: 18px;
  text-align: center;
}
.mt_150 {
  margin-top: 150px;
}


/* lt_aside 开始 */
.lt_aside {
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all 1s;
}
.lt_aside.hidemenu {
  left: -180px;

}


.lt_aside .brand {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  background-color: #367FA9;
  text-align: center;
}
.lt_aside .brand a {
  color: white;
}

.lt_aside .user {
  height: 180px;
}
.lt_aside .user {
  padding-top: 30px;
}
.lt_aside .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.lt_aside .user p {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: white;
}
.lt_aside .nav ul{padding:0;}
.lt_aside .nav a {
  height: 40px;
  line-height: 40px;
  display: block;
  color: white;
  padding-left: 40px;
  border-left: 3px solid transparent;
}
.lt_aside .nav i {
  margin-right: 5px;
}
.lt_aside .nav a.current {
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
.lt_aside .nav .child a {
  padding-left: 60px;
}

/* lt_aside 结束  */
.lt_main{width: 100%;
  height:100%;padding-left:180px;
  padding-top:50px;
  transition:all 1s;

}
.lt_main.hidemenu{padding-left:0px; }
/*头部导航*/
.lt_topbar{position: fixed;left:0;top:0;height:50px;
  width:100%;padding-left:180px;
background:pink;line-height:50px;
transition:all 1s;
}
.lt_topbar a{width:50px;height:50px;display:block;text-align:center;color:#fff;}
.lt_main .breadcrumb{margin-top:20px;}
.echarts_1, .echarts_2 {width:48%;height:400px;}
.lt_topbar.hidemenu{padding-left:0;
 
}
/*用户管理*/

.table-bordered > thead > tr > th,.table-bordered
>tbody >tr >td{text-align:center;
  /*表格内容垂直居中*/
  vertical-align: center;
}
.table.table-bordered > thead > tr > th,
.table.table-bordered > tbody > tr > th, 
.table.table-bordered > tfoot > tr > th, 
.table.table-bordered > thead > tr > td,
.table.table-bordered > tbody > tr > td,
.table.table-bordered > tfoot > tr > td{
  vertical-align: center;
    }